In [1]:
l = [1,23,45,234,345,"pankaj",True,5+7j,23.45]

In [2]:
type(l)

list

In [3]:
l[0]

1

In [4]:
l[6]

True

In [5]:
l[90]

IndexError: list index out of range

In [ ]:
l

[1, 23, 45, 234, 345, 'pankaj', True, (5+7j), 23.45]

In [ ]:
l[0:3]

[1, 23, 45]

In [ ]:
l[-1]

23.45

In [ ]:
l[::-1]

[23.45, (5+7j), True, 'pankaj', 345, 234, 45, 23, 1]

In [ ]:
l[::2]

[1, 45, 345, True, 23.45]

In [ ]:
l

[1, 23, 45, 234, 345, 'pankaj', True, (5+7j), 23.45]

In [ ]:
s = "pwskills"

In [ ]:
l+s

TypeError: can only concatenate list (not "str") to list

In [ ]:
list(s) + l

['p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 1,
 23,
 45,
 234,
 345,
 'pankaj',
 True,
 (5+7j),
 23.45]

In [ ]:
l[5]

'pankaj'

In [ ]:
type(l[5])

str

In [ ]:
l[5]

'pankaj'

In [ ]:
l[5][0:2]

'pa'

In [ ]:
l[6]

True

In [ ]:
str(l[6])[0:2]

'Tr'

In [ ]:
l

[1, 23, 45, 234, 345, 'pankaj', True, (5+7j), 23.45]

In [ ]:
l + 5

TypeError: can only concatenate list (not "int") to list

In [ ]:
l1 = [3,4,5]

In [ ]:
l + l1

[1, 23, 45, 234, 345, 'pankaj', True, (5+7j), 23.45, 3, 4, 5]

In [ ]:
l1 * 3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [ ]:
l

[1, 23, 45, 234, 345, 'pankaj', True, (5+7j), 23.45]

In [ ]:
len(l)

9

In [ ]:
l

[1, 23, 45, 234, 345, 'pankaj', True, (5+7j), 23.45]

In [ ]:
l.append(5)

In [ ]:
l

[1, 23, 45, 234, 345, 'pankaj', True, (5+7j), 23.45, 5]

In [ ]:
l.append(s)

In [ ]:
s

'pwskills'

In [ ]:
l

[1, 23, 45, 234, 345, 'pankaj', True, (5+7j), 23.45, 5, 'pwskills']

In [ ]:
l1

[3, 4, 5]

In [ ]:
l.append(l1) # is function ka throw kisi bhi data ya function ko add kar sekta ha
# ya data ko asa hi yani same hi rakhta ha

In [ ]:
l

[1, 23, 45, 234, 345, 'pankaj', True, (5+7j), 23.45, 5, 'pwskills', [3, 4, 5]]

In [ ]:
l[-1]

[3, 4, 5]

In [ ]:
l[-1][1]

4

In [ ]:
l

[1, 23, 45, 234, 345, 'pankaj', True, (5+7j), 23.45, 5, 'pwskills', [3, 4, 5]]

In [ ]:
l.extend(4)

TypeError: 'int' object is not iterable

In [ ]:
l.extend("pankaj") # is me eitarbale data dala ghata ha data ka inside data hi dena hota ha

In [ ]:
l

[1,
 23,
 45,
 234,
 345,
 'pankaj',
 True,
 (5+7j),
 23.45,
 5,
 'pwskills',
 [3, 4, 5],
 'p',
 'a',
 'n',
 'k',
 'a',
 'j']

In [ ]:
l.extend([3,4,5]) # data ko break kar  ke dal raha ha

In [ ]:
l

[1,
 23,
 45,
 234,
 345,
 'pankaj',
 True,
 (5+7j),
 23.45,
 5,
 'pwskills',
 [3, 4, 5],
 'p',
 'a',
 'n',
 'k',
 'a',
 'j',
 3,
 4,
 5]

In [ ]:
l1

[3, 4, 5]

In [ ]:
l1.insert(1,"pankaj")

In [ ]:
l1

[3, 'pankaj', 4, 5]

In [ ]:
l1.insert(2,[2,3,4]) # data ko kisi bhi possition par insert kerna ke leya

In [ ]:
l1

[3, 'pankaj', [2, 3, 4], 4, 5]

In [ ]:
l1

[3, 'pankaj', [2, 3, 4], 4, 5]

In [ ]:
l1.insert(-1,45) # -1 ko usi possition par set ker ke us sa aaga data push karna

In [ ]:
l1

[3, 'pankaj', [2, 3, 4], 4, 45, 5]

In [ ]:
l1.insert(0,45)

In [ ]:
l1

[45, 45]

In [ ]:
l1.pop() #  da data ko last index se remove karta ha
# ya index me sa data ko remove karta ha

45

In [ ]:
l1

[45]

In [ ]:
l1.pop(0) # ysa position dena par data ko us postion a hi delete karta ha

45

In [ ]:
l1

[]

In [ ]:
l2 = [2,3,4,"pankaj",[2,3,4],7,45]

In [ ]:
l2

[2, 3, 4, 'pankaj', [2, 3, 4], 7, 45]

In [ ]:
l2.remove(3) # ye elements ko remove karta ha

In [ ]:
l2

[2, 4, 'pankaj', [2, 3, 4], 7, 45]

In [ ]:
l1.remove(234)

ValueError: list.remove(x): x not in list

In [ ]:
l2[3].remove(3)

In [ ]:
l2

[2, 4, 'pankaj', [2, 4], 7, 45]

In [ ]:
l2.append(4)

In [ ]:
l2

[2, 4, 'pankaj', [2, 4], 7, 45, 4]

In [ ]:
l2.remove(4)

In [ ]:
l2

[2, 'pankaj', [2, 4], 7, 45, 4]

In [ ]:
l2=l2[::-1]

In [ ]:
l2

[2, 'pankaj', [2, 4], 7, 45, 4]

In [ ]:
l2.reverse() # ya index ko reverse data ko reverse karta ha

In [ ]:
l2

[4, 45, 7, [2, 4], 'pankaj', 2]

In [ ]:
l2

[4, 45, 7, [2, 4], 'pankaj', 2]

In [ ]:
l2.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [ ]:
l3 = [45,23,46,78,87,54,2,3,4,5]

In [ ]:
l3.sort() # ya data ko small data se big data me convert karta ha

In [ ]:
l3

[2, 3, 4, 5, 23, 45, 46, 54, 78, 87]

In [ ]:
l4 = [34,"pankaj",45,12,"kumawat"]

In [ ]:
l4.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
l5 = ["pankaj","harsh","divya","pwskills"]

In [ ]:
l5.sort()

In [ ]:
l5

['divya', 'harsh', 'pankaj', 'pwskills']

In [ ]:
l5

['divya', 'harsh', 'pankaj', 'pwskills']

In [ ]:
l5.index("pankaj") # apka data index me kis no. par ha

2

In [ ]:
l5.count("divya") # total no .of this data

1

In [ ]:
s = "pankaj"

In [ ]:
l6 = [3,4,5]

In [ ]:
s[0] = 'a' #inmuatable

TypeError: 'str' object does not support item assignment

In [ ]:
l6[0] = 30 #mutabalite same gha par same place par us ke index ko asses kar ka hum change kar sekta ha data ko

In [ ]:
l6

[30, 4, 5]

In [ ]:
s.replace('p','a')

'aankaj'

In [ ]:
s

'pankaj'

In [ ]:
t = (2,3,4,5,"pankaj",45.56,False,45+457j,[3,4,5])

In [ ]:
type(t)

tuple

In [ ]:
len(t)

9

In [ ]:
t[0]

2

In [ ]:
t[-1]

[3, 4, 5]

In [ ]:
t[::-1]

([3, 4, 5], (45+457j), False, 45.56, 'pankaj', 5, 4, 3, 2)

In [ ]:
l5

['divya', 'harsh', 'pankaj', 'pwskills']

In [ ]:
l5[0] = 2345

In [ ]:
l5

[2345, 'harsh', 'pankaj', 'pwskills']

In [ ]:
t[0] = "pankaj"

TypeError: 'tuple' object does not support item assignment

In [ ]:
t[::-1]

([3, 4, 5], (45+457j), False, 45.56, 'pankaj', 5, 4, 3, 2)

In [ ]:
t.count(50)

0

In [ ]:
t.index(False)

6

In [ ]:
t

(2, 3, 4, 5, 'pankaj', 45.56, False, (45+457j), [3, 4, 5])

In [ ]:
s1 ={}

In [ ]:
type(s1)

dict

In [ ]:
s2 = {2,3,4,55,6}

In [ ]:
type(s2)

set

In [ ]:
s3 = {324,456,456,"pankaj",45.456,34.345,(3,4,5)}

In [ ]:
s3

{(3, 4, 5), 324, 34.345, 45.456, 456, 'pankaj'}

In [ ]:
s4 ={2,3,4,5,6,2,3,4,5,6,6,7,8,9,"pankaj","Pankaj"} # seta All Removes to Duplicate

In [ ]:
s4

{2, 3, 4, 5, 6, 7, 8, 9, 'Pankaj', 'pankaj'}

In [ ]:
l6 = [2,3,4,5,6,2,3,4,5,6,6,7,8,9,"pankaj","Pankaj"]

In [ ]:
l6 = list(set(l6))

In [ ]:
l6

[2, 3, 4, 5, 6, 7, 8, 9, 'Pankaj', 'pankaj']

In [ ]:
s5 = {234,456,789,33,45,56,"abc",345,342}

In [ ]:
s5

{234, 33, 342, 345, 45, 456, 56, 789, 'abc'}

In [ ]:
s5[0]

TypeError: 'set' object is not subscriptable

In [ ]:
s5

{234, 33, 342, 345, 45, 456, 56, 789, 'abc'}

In [ ]:
s5.add(4)

In [ ]:
s5

{234, 33, 342, 345, 4, 45, 456, 56, 789, 'abc'}

In [ ]:
s5.remove(4)

In [ ]:
s5

{234, 342, 345, 45, 456, 56, 789, 'abc'}