In [1]:
d= {}

In [2]:
type(d)

dict

In [3]:
d1 = {"key":"pankaj"}

In [4]:
d1

{'key': 'pankaj'}

In [5]:
d2 = {"name":"pankaj","email":"pk963kumawat@gmail.com","number":234543}

In [6]:
d2

{'name': 'pankaj', 'email': 'pk963kumawat@gmail.com', 'number': 234543}

In [7]:
d3= {234:"pankaj","_wer":"kumar",True :34543}

In [8]:
d3

{234: 'pankaj', '_wer': 'kumar', True: 34543}

In [9]:
d3[234] # key vala se hi data recieve hota ha

'pankaj'

In [10]:
d3[True]

34543

In [11]:
d3[1]

34543

In [12]:
d4 = {"nmae":"pankaj","mail_id":"k263@gmail.com","name":"sonu"} # key always unique hi hota ha ro vo over right karta ha last vala value se

In [13]:
d4["name"]

'sonu'

In [14]:
d5 = {"company":"pwskills","course":["data science","python","java"]}

In [15]:
d5

{'company': 'pwskills', 'course': ['data science', 'python', 'java']}

In [16]:
d5["course"]

['data science', 'python', 'java']

In [17]:
d5["course"][2]

'java'

In [18]:

d6 = {"number":[2,3,43,12],"assignment":(1,2,3,4,5,),"launch_date":{28,12,12},"class_time":{"python":5,"java,data":2, "seience":3}}

In [19]:
d6

{'number': [2, 3, 43, 12],
 'assignment': (1, 2, 3, 4, 5),
 'launch_date': {12, 28},
 'class_time': {'python': 5, 'java,data': 2, 'seience': 3}}

In [20]:
d6["class_time"]

{'python': 5, 'java,data': 2, 'seience': 3}

In [21]:
d6["class_time"]['seience']

3

In [22]:
d6["mentor"] = ["pankja","harsh","divya","monu"] # ya new data add kar deta ha

In [23]:
d6

{'number': [2, 3, 43, 12],
 'assignment': (1, 2, 3, 4, 5),
 'launch_date': {12, 28},
 'class_time': {'python': 5, 'java,data': 2, 'seience': 3},
 'mentor': ['pankja', 'harsh', 'divya', 'monu']}

In [24]:
del d6["assignment"]

In [25]:
d6

{'number': [2, 3, 43, 12],
 'launch_date': {12, 28},
 'class_time': {'python': 5, 'java,data': 2, 'seience': 3},
 'mentor': ['pankja', 'harsh', 'divya', 'monu']}

In [26]:
list(d6.keys()) # ya key data print karta ha

['number', 'launch_date', 'class_time', 'mentor']

In [27]:
list(d6.values()) # ya values ka data print karta ha

[[2, 3, 43, 12],
 {12, 28},
 {'python': 5, 'java,data': 2, 'seience': 3},
 ['pankja', 'harsh', 'divya', 'monu']]

In [28]:
list(d6.items()) # ya itmes ka data print karta ha

[('number', [2, 3, 43, 12]),
 ('launch_date', {12, 28}),
 ('class_time', {'python': 5, 'java,data': 2, 'seience': 3}),
 ('mentor', ['pankja', 'harsh', 'divya', 'monu'])]

In [29]:
d6.pop("number") # remove specified key and return the corresponding value.

[2, 3, 43, 12]

In [30]:
d6.pop() # pop expected at least 1 argument, got 0

TypeError: pop expected at least 1 argument, got 0

In [ ]:
10 >= 80

False

In [44]:
marks  = int(input("Enter your marks "))
if marks >= 80 :
    print("you will be a part of A0 batch")
elif marks >= 60 and marks < 80 :
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60 :
    print("you wil be a part of A2 batch")
else :
    print("you eill be a part of A3 batch")

you wil be a part of A2 batch

In [45]:
marks = int(input("Enter your marks"))

In [46]:
marks

45

In [47]:
type(marks)

int

In [64]:
price = int(input("Enter price"))
if price > 1000:
    print("i will not purchase")
    if price > 5000:
        print("This is too much")
    elif price < 2000:
        print("its ok")
    elif price < 1000:
        print("i will purchase")
else :
    print("not interestadd")

i will not purchase

In [65]:
l = [1,2,3,4,5,6,7,8]

In [66]:
l[0] + 1

2

In [67]:
l1 = []

In [ ]:
l1.append(l[0]+1) # Append object to the end of the list.

In [70]:
l1

[2]

In [71]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
l1 = []
for i in l :
    print(i+1)
    l1.append(i+1) # Append object to the end of the list.
l1

2
3
4
5
6
7
8
9

[2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
l = ["pankaj","harsh","kumar","course"]

In [77]:
l1 = []
for i in l :
    print(i) # I har mar yaha string hi aa raha ha
l1

pankaj
harsh
kumar
course

[]

In [78]:
l1

[]

In [79]:
l = [1,2,3,4,5,6,7,"pankaj","kumar",345,34.56,"abc"]

In [ ]:
l1_num = []
l2_str = []
for i in l :
    if type (i) == int or  type(i) == float :
        l1_num.append(i)
    else:
        l2_str.append(i) # Append object to the end of the list.

In [82]:
l1_num

[1, 2, 3, 4, 5, 6, 7, 345, 34.56]

In [83]:
l2_str

['pankaj', 'kumar', 'abc']